# Python
__pycache__/
*.py[cod]
*.pyo

# Environment / secrets
.env
.env.*
!.env.example

# Virtual environments
venv/
.venv/

# Runtime files
*.log

# Local data
data/raw/*
data/processed/*

# OS
.DS_Store

# IDE
.vscode/
.idea/
